.contabilidad-content {
  height: 100vh;
  display: flex;

  .content {
    width: 85vw;
    height: 100vh;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }

  .submenu {
    width: 15vw;
    height: 100vh;
  }
}
